<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
            <h4>Restock</h4>
            <h6>Make new Restock</h6>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body h-100">
        <form (submit)="frmSubmit($event)" [formGroup]="restockForm">
            <!-- <div class="row">
                <div class="col-lg-12 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Product Name</label>
                        <input 
                            type="text" 
                            list="product-list" 
                            (input)="inpProductNameChange($event)" 
                            placeholder="search product by name">

                        <datalist id="product-list">
                            <option *ngFor="let product of products" [value]="product.name">
                            </option>
                        </datalist>
                    </div>
                </div>
            </div> -->
            <div class="table-responsive no-pagination" >
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 40%;">Product</th>
                            <th style="width: 20%;">Unit Price</th>
                            <th style="width: 15%;">Quantity</th>
                            <th style="width: 20%;">Branch</th>
                            <th style="width: 5%;"></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="items">
                        <tr *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                            <td>
                                <div class="input-blocks col-12">
                                    <input type="text" 
                                        [attr.list]="'product-list-' + i" 
                                        formControlName="product_name"
                                        (input)="inpProductNameChange($event, i)" 
                                        placeholder="search product by name">

                                    <datalist [attr.id]="'product-list-' + i">
                                        <option *ngFor="let product of products" [value]="product.name">
                                        </option>
                                    </datalist>

                                    <div *ngIf="(item.get('product_name')?.invalid && item.get('product_name')?.touched) || submitted">
                                        <small class="text-danger" *ngIf="item.get('product_name')?.hasError('required')" 
                                            style="font-size: 12px; font-weight: 500;">
                                            Product name is required.
                                        </small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-blocks col-12">
                                    <input formControlName="price" type="text">
                                    <div *ngIf="(item.get('price')?.invalid && item.get('price')?.touched) || submitted">
                                        <small class="text-danger" *ngIf="item.get('price')?.hasError('required')" 
                                            style="font-size: 12px; font-weight: 500;">
                                            Price is required.
                                        </small>
                                    </div>
                                    <div *ngIf="item.get('price')?.errors?.['pattern']" class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">invalid input format</div>
                                </div>
                            </td>
                            <td>
                                <div class="input-blocks col-12">
                                    <input formControlName="quantity" class="form-control" type="number" min="0">
                                    <div *ngIf="(item.get('quantity')?.invalid && item.get('quantity')?.touched) || submitted">
                                        <small class="text-danger" *ngIf="item.get('quantity')?.hasError('required')" 
                                            style="font-size: 12px; font-weight: 500;">
                                            Quantity is required.
                                        </small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-blocks col-12">
                                    <!-- <input formControlName="quantity" class="form-control" type="number" min="1"> -->
                                    <select formControlName="branch_id" class="form-control">
                                        <option *ngFor="let branch of branches$ | async" [value]=branch.id>{{branch.branch_name}}</option>
                                    </select>
                                    <div *ngIf="(item.get('branch_id')?.invalid && item.get('branch_id')?.touched) || submitted">
                                        <small class="text-danger" *ngIf="item.get('branch_id')?.hasError('required')" 
                                            style="font-size: 12px; font-weight: 500;">
                                            Branch is required.
                                        </small>
                                    </div>
                                </div>
                            </td>
                             <td>
                                <div class="input-blocks">
                                    <button *ngIf="i > 0" (click)="removeItem(i)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    <button *ngIf="i === items.length - 1" (click)="addItem($event)" type="button" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
            </div>
            <div style="display: flex;justify-content:center;">
                <app-errormodal></app-errormodal>
            </div>
            <div class="row">
                
                <div class="col-lg-12 text-end">
                    <!-- <button type="button" class="btn btn-cancel add-cancel me-3" data-bs-dismiss="modal">Cancel</button> -->
                    <button [disabled]="sharedservice.responses.disabled" type="submit" class="btn btn-submit add-sale">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div *ngIf="loadingService.loading$ | async" class="loading-overlay">
    <div class="spinner">Loading product items, please wait...</div>
</div>

<div *ngIf="errorLoading" class="loadingError">
    <div>Loading failed. <button (click)="refresh()">Click to retry</button></div>
</div>