<div class="content">
    <div class="welcome d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center welcome-text">
            <h3 class="d-flex align-items-center"><img src="assets/images/hi.svg" alt="img">&nbsp;Hi {{username}},
            </h3>&nbsp;<h6>here's what's happening with your store today.</h6>
        </div>
        <div class="d-flex align-items-center">
            <div class="position-relative daterange-wraper me-2">
                <div class="input-groupicon calender-input">
                    <!-- <input type="text" class="form-control  date-range bookingrange" placeholder="Select"
                        value="{{formattedDate}}"> -->
                    <input (change)="todayDateChange($event)" type="date" class="form-control" [(ngModel)]="today">
                </div>
                <i data-feather="calendar" class="feather-14"></i>
            </div>
            <button (click)="refresh()" type="button" data-toggle="tooltip" class="btn btn-white-outline d-none d-md-inline-block"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i data-feather="rotate-ccw"
                    class="feather-rotate-ccw"></i></button>
            <!-- <a href="ja" class="d-none d-lg-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Collapse" id="collapse-header"><i data-feather="chevron-up" class="feather-16"></i></a> -->
        </div>
    </div>
    <div class="row sales-cards">
        <div class="col-xl-6 col-sm-12 col-12">
            <div class="card d-flex align-items-center justify-content-between default-cover mb-4">
                <div>
                    <h6>Daily Earning</h6>
                    <h3><span class="counters" [data-count]="todayCashAmount">{{todayCashAmount | currency : 'Ghc '}}</span></h3>
                    <p class="sales-range">
                        <span *ngIf="percentageIncrease >= 0">
                            <span class="text-success"> 
                                <i data-feather="chevron-up" class="feather-16"></i>
                                {{percentageIncrease}}%&nbsp;
                            </span>increase compare to yesterday
                        </span>
                        <span *ngIf="percentageIncrease < 0">
                            <span class="text-danger"> 
                                <i data-feather="chevron-down" class="feather-16"></i>
                                {{percentageIncrease}}%&nbsp;
                            </span>decrease compare to yesterday
                        </span>
                    </p>
                </div>
                <img src="assets/images/weekly-earning.svg" alt="img">
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card color-info bg-primary mb-4">
                <img src="assets/images/total-sales.svg" alt="img">
                <h3 class="counters" [data-count]="salescount">{{salescount}}</h3>
                <p>No of Total Sales</p>
                <i data-feather="rotate-ccw" class="feather-16" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Refresh"></i>
            </div>
        </div>
        <!-- <div class="col-xl-3 col-sm-6 col-12">
            <div class="card color-info bg-secondary mb-4">
                <img src="/assets/images/purchased-earnings.svg" alt="img">
                <h3 class="counters" data-count="800.00">800+</h3>
                <p>No of Total Sales</p>
                <i data-feather="rotate-ccw" class="feather-16" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Refresh"></i>
            </div>
        </div> -->
    </div>
    <!-- Payment Methods breakdown -->
     <div class="row">

        <!-- Momo -->
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card revenue-widget flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 pb-3 border-bottom">
                        <div>
                            <h4 class="mb-1">{{momo | currency : 'Ghc '}}</h4>
                            <p>Momo Ins</p>
                        </div>
                        <span class="revenue-icon bg-cyan-transparent text-cyan">
                            <i class="fa-solid fa-layer-group fs-16"></i>
                        </span>
                    </div>
                    <!-- <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0"><span class="fs-13 fw-bold text-success">+35%</span> vs Last Month</p>
                        <a href="profit-and-loss.html" class="text-decoration-underline fs-13 fw-medium">View All</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- /Momo -->

        <!-- Bank Cash In -->
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card revenue-widget flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 pb-3 border-bottom">
                        <div>
                            <h4 class="mb-1">{{bankCashIn | currency : 'Ghc '}}</h4>
                            <p>Bank Ins</p>
                        </div>
                        <span class="revenue-icon bg-teal-transparent text-teal">
                            <i class="ti ti-chart-pie fs-16"></i>
                        </span>
                    </div>
                    <!-- <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0"><span class="fs-13 fw-bold text-success">+35%</span> vs Last Month</p>
                        <a href="invoice-report.html" class="text-decoration-underline fs-13 fw-medium">View All</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- /Bank Cash In -->

        <!-- Cash cash In -->
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card revenue-widget flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 pb-3 border-bottom">
                        <div>
                            <h4 class="mb-1">{{cashIn | currency : 'Ghc '}}</h4>
                            <p>Cash Ins</p>
                        </div>
                        <span class="revenue-icon bg-indigo-transparent text-indigo">
                            <i class="ti ti-hash fs-16"></i>
                        </span>
                    </div>
                    <!-- <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0"><span class="fs-13 fw-bold text-danger">-20%</span> vs Last Month</p>
                        <a href="sales-report.html" class="text-decoration-underline fs-13 fw-medium">View All</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- /Cash cash In -->

        <!-- Expenses -->
        <!-- <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card revenue-widget flex-fill">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 pb-3 border-bottom">
                        <div>
                            <h4 class="mb-1">$8,980,097</h4>
                            <p>Total Expenses</p>
                        </div>
                        <span class="revenue-icon bg-orange-transparent text-orange">
                            <i class="ti ti-lifebuoy fs-16"></i>
                        </span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0"><span class="fs-13 fw-bold text-success">+41%</span> vs Last Month</p>
                        <a href="expense-list.html" class="text-decoration-underline fs-13 fw-medium">View All</a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- /Expenses -->

    </div>
    <div *ngIf="!manager" class="content">
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="dash-count" style="background:#ff0000;">
                <div class="dash-counts">
                    <h4>{{out_of_stock}}</h4>
                    <h5>Out of stock</h5>
                </div>
                <div class="dash-imgs">
                    <i data-feather="trending-down"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="dash-count das1">
                <div class="dash-counts">
                    <h4>{{lowStock}}</h4>
                    <h5>Low stocks</h5>
                </div>
                <div class="dash-imgs">
                    <i data-feather="cash"></i>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="dash-count das2">
                <div class="dash-counts">
                    <h4>{{products_expiryLen}}</h4>
                    <h5>Expiry</h5>
                </div>
                <div class="dash-imgs">
                    <img src="assets/images/file-text-icon-01.svg" class="img-fluid" alt="icon">
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-sm-12 col-md-12 col-xl-4 d-flex">
            <div class="card flex-fill default-cover w-100 mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Best Seller</h4>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="view-all d-flex align-items-center">
                            View All<span class="ps-2 d-flex align-items-center"><i data-feather="arrow-right"
                                    class="feather-16"></i></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless best-seller">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="product-info">
                                            <a href="product-list.html" class="product-img">
                                                <img src="/assets/images/stock-img-01.png" alt="product">
                                            </a>
                                            <div class="info">
                                                <a href="product-list.html">Lenovo 3rd Generation</a>
                                                <p class="dull-text">$4420</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="head-text">Sales</p>
                                        6547
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="product-info">
                                            <a href="product-list.html" class="product-img">
                                                <img src="/assets/images/stock-img-06.png" alt="product">
                                            </a>
                                            <div class="info">
                                                <a href="product-list.html">Bold V3.2</a>
                                                <p class="dull-text">$1474</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="head-text">Sales</p>
                                        3474
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="product-info">
                                            <a href="product-list.html" class="product-img">
                                                <img src="/assets/images/stock-img-02.png" alt="product">
                                            </a>
                                            <div class="info">
                                                <a href="product-list.html">Nike Jordan</a>
                                                <p class="dull-text">$8784</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="head-text">Sales</p>
                                        1478
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="product-info">
                                            <a href="product-list.html" class="product-img">
                                                <img src="/assets/images/stock-img-03.png" alt="product">
                                            </a>
                                            <div class="info">
                                                <a href="product-list.html">Apple Series 5 Watch</a>
                                                <p class="dull-text">$3240</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="head-text">Sales</p>
                                        987
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="product-info">
                                            <a href="product-list.html" class="product-img">
                                                <img src="/assets/images/stock-img-04.png" alt="product">
                                            </a>
                                            <div class="info">
                                                <a href="product-list.html">Amazon Echo Dot</a>
                                                <p class="dull-text">$597</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="head-text">Sales</p>
                                        784
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-sm-12 col-md-12 col-xl-12 d-flex">
            <div class="card flex-fill default-cover w-100 mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Products Sold</h4>
                    <!-- <div class="dropdown">
                        <a href="javascript:void(0);" class="view-all d-flex align-items-center">
                            View All<span class="ps-2 d-flex align-items-center"><i data-feather="arrow-right"
                                    class="feather-16"></i></span>
                        </a>
                    </div> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless recent-transactions">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Unit Cost</th>
                                    <th>Total Cost</th>
                                    <th>Quantity At Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of productSold; let i=index">
                                    <td>{{i+1}}</td>
                                    <td> {{product.product}}</td>
                                    <td>
                                        {{product.total_quantity}}
                                    </td>
                                    <td>{{product.unit_cost | currency : 'GHc '}}</td>
                                    <td>{{product.grand_total | currency : 'GHc '}}</td>
                                    <td>{{product.quantity_at_date}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" style="background:#0000000d;z-index:9999;position:fixed;top:0;left:0;display:flex;width:100vw;height:100vh;cursor:progress;"></div>

<div *ngIf="errorLoading" class="loadingError">
    <div>Loading failed. <button (click)="refresh()">Click to retry</button></div>
</div>
