<div class="content">
    <div class="welcome d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center welcome-text">
            <h3 class="d-flex align-items-center"><img src="assets/images/hi.svg" alt="img">&nbsp;Hi {{username}},
            </h3>&nbsp;<h6>View sales report over a selected period.</h6>
        </div>
        <div class="d-flex align-items-center">
            <div class="position-relative daterange-wraper me-2">
                <div class="input-groupicon calender-input">
                    <!-- <input type="text" class="form-control  date-range bookingrange" placeholder="Select"
                        value="{{formattedDate}}"> -->
                    <button style="padding:8px" type="button" id="filter_search" class="btn btn-primary w-200" data-bs-toggle="modal" data-bs-target="#create">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg> -->
                        Apply Filter
                         <!-- <i class="feather feather-filter filter-icon"></i> -->
                    </button>
                </div>
                <i data-feather="calendar" class="feather-14"></i>
            </div>
            <button (click)="refresh()" type="button" data-toggle="tooltip" class="btn btn-white-outline d-none d-md-inline-block"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i data-feather="rotate-ccw"
                    class="feather-rotate-ccw"></i></button>
            <!-- <a href="ja" class="d-none d-lg-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Collapse" id="collapse-header"><i data-feather="chevron-up" class="feather-16"></i></a> -->
        </div>
    </div>
    <div class="row sales-cards">
        <div class="col-xl-6 col-sm-12 col-12">
            <div class="card d-flex align-items-center justify-content-between default-cover mb-4">
                <div>
                    <h6>Total Earning</h6>
                    <h3><span class="counters" [data-count]="cashAmount">{{cashAmount | currency : 'Ghc '}}</span></h3>
                    <p class="sales-range">
                        <span>
                            <span class="text-success"> 
                                <i data-feather="chevron-up" class="feather-16"></i>
                                
                            </span>
                        </span>
                        <!-- <span *ngIf="percentageIncrease < 0">
                            <span class="text-danger"> 
                                <i data-feather="chevron-down" class="feather-16"></i>
                                %&nbsp;
                            </span>decrease compare to yesterday
                        </span> -->
                    </p>
                </div>
                <img src="assets/images/weekly-earning.svg" alt="img">
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <div class="card color-info bg-primary mb-4">
                <img src="assets/images/total-sales.svg" alt="img">
                <h3 class="counters" [data-count]="salescount">{{salescount}}</h3>
                <p>No of Total Sales</p>
                <i data-feather="rotate-ccw" class="feather-16" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Refresh"></i>
            </div>
        </div>
        <!-- <div class="col-xl-3 col-sm-6 col-12">
            <div class="card color-info bg-secondary mb-4">
                <img src="/assets/images/purchased-earnings.svg" alt="img">
                <h3 class="counters" data-count="800.00">800+</h3>
                <p>No of Total Sales</p>
                <i data-feather="rotate-ccw" class="feather-16" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Refresh"></i>
            </div>
        </div> -->
    </div>

    <div class="content">
        
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12 d-flex">
            <div class="card flex-fill default-cover w-100 mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Products Receipts</h4>
                    <ul class="table-top-head">
                        <li>
                            <a  (click)="exportTableToPDF()" data-bs-toggle="tooltip" data-bs-placement="top" title="Pdf" disabled><img
                                    src="assets/images/pdf.svg" alt="img"></a>
                        </li>
                        <li>
                            <a (click)="printTable()" data-bs-toggle="tooltip" data-bs-placement="top" title="Print">
                                <!-- <i data-feather="printer" class="feather-rotate-ccw"></i> -->
                                <img src="assets/images/printer.svg">
                            </a>
                        </li>
                    </ul>
                    <!-- <div class="dropdown">
                        <a href="javascript:void(0);" class="view-all d-flex align-items-center">
                            View All<span class="ps-2 d-flex align-items-center"><i data-feather="arrow-right"
                                    class="feather-16"></i></span>
                        </a>
                    </div> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-border products_receipts recent-transactions">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Invoice No.</th>
                                    <th>Product</th>
                                    <th>Unit Cost</th>
                                    <th>Quantity</th>
                                    <th>Purchase Price</th>
                                    <th>Amount Received</th>
                                    <th>Sale Cost</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of productsReceipts; let i=index">
                                    <td>{{i+1}}</td>
                                    <td> {{product.receipt_no}}</td>
                                    <td> {{product.product}}</td>
                                    <td>{{product.unit_cost | currency : 'GHc '}}</td>
                                    <td> {{product.quantity | number : '1.0-2'}}</td>
                                    <td> {{product.purchase_price}}</td>
                                    <td> {{product.amount_received}}</td>
                                    <td> {{product.grand_total }}</td>
                                    <td> {{product.created_at.split('T')[0]}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-12 d-flex">
            <div class="card flex-fill default-cover w-100 mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title mb-0">Products Sold</h4>
                    <!-- <div class="dropdown">
                        <a href="javascript:void(0);" class="view-all d-flex align-items-center">
                            View All<span class="ps-2 d-flex align-items-center"><i data-feather="arrow-right"
                                    class="feather-16"></i></span>
                        </a>
                    </div> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless recent-transactions">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Unit Cost</th>
                                    <th>Total Cost</th>
                                    <th>Quantity At Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of productSold; let i=index">
                                    <td>{{i+1}}</td>
                                    <td> {{product.product}}</td>
                                    <td>
                                        {{product.total_quantity | number : '1.0-2'}}
                                    </td>
                                    <td>{{product.unit_cost | currency : 'GHc '}}</td>
                                    <td>{{product.grand_total | currency : 'GHc '}}</td>
                                    <td>{{product.quantity_at_date | number : '1.0-2'}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" style="background:#0000000d;z-index:9999;position:fixed;top:0;left:0;display:flex;width:100vw;height:100vh;cursor:progress;"></div>

<div *ngIf="errorLoading" class="loadingError">
    <div>Loading failed. <button (click)="refresh()">Click to retry</button></div>
</div>

<div class="modal fade " id="create" tabindex="-1" aria-labelledby="create" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Query Parameters</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form (submit)="submitQueryFrm($event)" [formGroup]="queryFrm">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <div class="input-blocks">
                                <label>Branch</label>
                                <select (change)="branchChange()" formControlName="branch_id" class="form-control">
                                    <option value="0">Select Branch</option>
                                    <option *ngFor="let branch of branches" [value]="branch.id">{{branch.branch_name}}</option>
                                </select>
                                <div
                                    *ngIf="(queryFrm.get('branch_id')?.invalid && queryFrm.get('branch_id')?.touched) || submitted">
                                    <div *ngIf="queryFrm.controls['branch_id'] && queryFrm.controls['branch_id'].errors"
                                        class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                        required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12">
                            <div class="input-blocks">
                                <label>Start Date</label>
                                <input formControlName="startDate" type="date" class="form-control">
                            </div>
                            <div
                                *ngIf="(queryFrm.get('startDate')?.invalid && queryFrm.get('startDate')?.touched) || submitted">
                                <div *ngIf="queryFrm.controls['startDate'] && queryFrm.controls['startDate'].errors"
                                    class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                    required.</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12">
                            <div class="input-blocks">
                                <label>End Date</label>
                                <input formControlName="endDate" type="date" class="form-control">
                            </div>
                            <div
                                *ngIf="(queryFrm.get('endDate')?.invalid && queryFrm.get('endDate')?.touched) || submitted">
                                <div *ngIf="queryFrm.controls['endDate'] && queryFrm.controls['endDate'].errors"
                                    class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                    required.</div>
                            </div>
                        </div>
                        
                    </div>
                     <div style="display: flex;justify-content:center;">
                        <app-errormodal></app-errormodal>
                    </div>
                    <div class="modal-footer d-sm-flex justify-content-end">
                        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-submit me-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>