<div class="page-header">
    <div class="add-item d-flex">
        <div class="page-title">
            <h4>Add Sales</h4>
            <h6>Make new Sale</h6>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form (submit)="submitSalesFrm($event)" [formGroup]="newSalesFrm">
            <div class="row">
                <div *ngIf="role == 'Business_Owner'"  class="col-lg-3 col-sm-12 col-12">
                    <div class="input-blocks">
                        <label>Sale Date</label>
                        <input type="date" formControlName="sale_date" class="form-control">
                        <!-- <div
                            *ngIf="(newSalesFrm.get('branch_id')?.invalid && newSalesFrm.get('branch_id')?.touched) || submitted">
                            <div *ngIf="newSalesFrm.controls['branch_id'] && newSalesFrm.controls['branch_id'].errors"
                                class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                required.</div>
                        </div> -->
                    </div>
                </div>
                <div *ngIf="role == 'Business_Owner' && no_of_branches > 1"  class="col-lg-3 col-sm-12 col-12">
                    <div class="input-blocks">
                        <label>Branch</label>
                        <select (change)="branchChange()" formControlName="branch_id" class="form-control">
                            <option *ngFor="let branch of branches$ | async" [value]="branch.id">{{branch.branch_name}}</option>
                        </select>
                        <div
                            *ngIf="(newSalesFrm.get('branch_id')?.invalid && newSalesFrm.get('branch_id')?.touched) || submitted">
                            <div *ngIf="newSalesFrm.controls['branch_id'] && newSalesFrm.controls['branch_id'].errors"
                                class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                required.</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!oncredit" class="col-lg-6 col-sm-12 col-12">
                    <div class="input-blocks">
                        <label>Customer Name</label>
                        <input (change)="selectCustomer($event)" formControlName="customer_name" type="text" class="form-control" list="list-customers">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <!-- <div class="input-blocks">
                        <label>Customer Name</label>
                        <input (change)="selectCustomer($event)" formControlName="customer_name" type="text" class="form-control" list="list-customers">
                        <div
                            *ngIf="(newSalesFrm.get('customer_name')?.invalid && newSalesFrm.get('customer_name')?.touched) || submitted">
                            <div *ngIf="newSalesFrm.controls['customer_name'] && newSalesFrm.controls['customer_name'].errors"
                                class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                required.</div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Product Name</label>
                        <div class="input-groupicon select-code">
                            <input id="" (input)="inpProductNameChange($event);" type="text" list="list-timezone"
                                placeholder="search product by name">
                            <!-- <div class="addonset">
                                <img src="assets/images/qrcode-scan.svg" alt="img">
                            </div> -->
                        </div>
                        <datalist id="list-timezone">
                            <option class="option" *ngFor="let product of products">{{product.name}}
                            </option>
                        </datalist>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-12" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                    <div class="input-blocks">
                        <label>Credit</label>
                        <input (change)="creditChange($event);" value="Credit" type="checkbox">
                    </div>
                </div>
            </div>
            <div class="row customer-info accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Customer Name</label>
                        <input (change)="selectCustomer($event)" formControlName="customer_name" type="text" class="form-control" list="list-customers">
                        <div
                            *ngIf="(newSalesFrm.get('customer_name')?.invalid && newSalesFrm.get('customer_name')?.touched) || submitted">
                            <div *ngIf="newSalesFrm.controls['customer_name'] && newSalesFrm.controls['customer_name'].errors"
                                class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                required.</div>
                        </div>
                    </div>
                    <datalist id="list-customers">
                            <option class="option" *ngFor="let customer of customers">
                                {{customer.name}}
                            </option>
                    </datalist>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Customer Phone</label>
                        <input formControlName="customer_phone" type="text" class="form-control">
                        <div
                            *ngIf="(newSalesFrm.get('customer_phone')?.invalid && newSalesFrm.get('customer_phone')?.touched) || submitted">
                            <div *ngIf="newSalesFrm.controls['customer_phone'] && newSalesFrm.controls['customer_phone'].errors"
                                class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Customer Address</label>
                        <input formControlName="customer_address" type="text" class="form-control">
                        <div
                            *ngIf="(newSalesFrm.get('customer_address')?.invalid && newSalesFrm.get('customer_address')?.touched) || submitted">
                            <div *ngIf="newSalesFrm.controls['customer_address'] && newSalesFrm.controls['customer_address'].errors"
                                class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Customer Business Name</label>
                        <input formControlName="customer_business_name" type="text" class="form-control">
                        <div
                            *ngIf="(newSalesFrm.get('customer_business_name')?.invalid && newSalesFrm.get('customer_business_name')?.touched) || submitted">
                            <div *ngIf="newSalesFrm.controls.customer_business_name.errors?.['required']"
                                class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Identification Type</label>
                        <select formControlName="identification_type" class="form-control">
                            <option value="National ID Card">National ID Card</option>
                            <option value="TIN">TIN</option>
                            <option value="Passport">Passport</option>
                            <!-- <option value="License">License</option> -->
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="input-blocks">
                        <label>Identification Number</label>
                        <input formControlName="identity_number" type="text" class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="input-blocks mb-1">
                        <h6>Payment Methods</h6>
                        <div class="row px-0">
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="input-blocks mb-0">
                                    <label>Cash</label>
                                    <input formControlName="cash" id="received" (keyup)="calcBalance($event)"  type="text" class="form-control">
                                    <div
                                        *ngIf="(newSalesFrm.get('cash')?.invalid && newSalesFrm.get('cash')?.touched) || submitted">
                                        <div *ngIf="newSalesFrm.controls['cash'] && newSalesFrm.controls['cash'].errors"
                                            class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="input-blocks mb-0">
                                    <label>Momo</label>
                                    <input formControlName="momo" id="received" (keyup)="calcBalance($event)"  type="text" class="form-control">
                                    <div
                                        *ngIf="(newSalesFrm.get('momo')?.invalid && newSalesFrm.get('momo')?.touched) || submitted">
                                        <div *ngIf="newSalesFrm.controls['momo'] && newSalesFrm.controls['momo'].errors"
                                            class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="input-blocks mb-0">
                                    <label>Bank</label>
                                    <input (keyup)="calcBalance($event)" formControlName="bank" id="received" (keyup)="calcBalance($event)"  type="text" class="form-control">
                                    <div 
                                        *ngIf="(newSalesFrm.get('bank')?.invalid && newSalesFrm.get('bank')?.touched) || submitted">
                                        <div *ngIf="newSalesFrm.controls['bank'] && newSalesFrm.controls['bank'].errors"
                                            class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="input-blocks mb-0">
                                    <label>Amount Received</label>
                                    <input formControlName="amount_paid" id="received"  type="text" class="form-control">
                                    <div
                                        *ngIf="(newSalesFrm.get('amount_paid')?.invalid && newSalesFrm.get('amount_paid')?.touched) || submitted">
                                        <div *ngIf="newSalesFrm.controls['amount_paid'] && newSalesFrm.controls['amount_paid'].errors"
                                            class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;">field is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    
                </div>

                
            </div>
            <div class="table-responsive no-pagination">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Purchase Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="items">

                        <tr *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                            <td>{{item.value.product}}</td>
                            <td>{{item.value.unit_cost | currency:'GHc':'symbol':'1.2-2' }}</td>
                            <td>
                                <div class="input-blocks">
                                    <input class="for-control" (input)="calculateTotal(i)" min="0" type="number"
                                        formControlName="quantity">
                                        <div *ngIf="" class="text-danger">product expired</div>
                                </div>
                            </td>
                            <td>{{item.value.purchase_price | currency:'GHc':'symbol':'1.2-2'}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeItem(i)"><i
                                        class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <!-- Service Selection -->
                <div class="row mt-3">
                    <div class="col-12">
                        <h6>Add Extra Services</h6>
                        <div class="d-flex gap-3">
                            <button *ngFor="let service of services$ | async" type="button" class="btn btn-outline-secondary text-sm" (click)="addService(service)">
                                + Add {{service.name}}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Display Selected Services -->
                <div formArrayName="extra_services" class="mt-2">
                    <div *ngFor="let service of extra_services.controls; let i = index" [formGroupName]="i" class="d-flex justify-content-between border-bottom py-2">
                        <span>{{ service.value.name }}</span>
                        <div class="d-flex align-items-center">
                            <!-- <span class="me-3">Ghc {{ service.value.cost }}</span> -->
                            <input (change)="calculateGrandTotal()" (keyup)="calculateGrandTotal()" type="number" min="{{service.value.min_price}}" formControlName="cost" class="form-control w-100 text-center">
                            <button type="button" class="btn btn-sm btn-danger" (click)="remove_extra(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ms-auto">
                    <div class="total-order w-100 max-widthauto m-auto mb-4">
                        <ul>
                            <!-- <li>
                                                        <h4>Order Tax</h4>
                                                        <h5>$ 0.00</h5>
                                                    </li> -->
                            <li>
                                <h4>Discount</h4>
                                <h5>Ghc <input style="width: 30%;" (change)="onDiscountChange($event)" (keyup)="onDiscountChange($event)" *ngIf="role == 'Manager' || role == 'Business_Owner'" type="number" min="0" formControlName="discount"></h5>
                            </li>
                            <!-- <li>
                                                        <h4>Shipping</h4>
                                                        <h5>$ 0.00</h5>
                                                    </li> -->
                            <li>
                                <h4>Grand Total</h4>
                                <h5>{{newSalesFrm.get('grand_total')?.value |
                                    currency:'GHc':'symbol':'1.2-2'}}</h5>
                            </li>
                            <li>
                                <h4>Balance</h4>
                                <h5>{{newSalesFrm.get('balance')?.value |
                                    currency:'GHc':'symbol':'1.2-2'}}</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content:center;">
                <app-errormodal></app-errormodal>
            </div>
            <div class="row">
                
                <div class="col-lg-12 text-end">
                    <!-- <button type="button" class="btn btn-cancel add-cancel me-3" data-bs-dismiss="modal">Cancel</button> -->
                    <button  [disabled]="sharedservice.responses.disabled" type="submit" class="btn btn-submit add-sale">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- receipt.component.html -->
<div style="display: none;" id="receipt" #receiptContent>
    <div class="page-content">
        <div class="page-header text-blue-d2 text-center" style="display: flex;justify-content:center;color: #000;">
            <h3 class="page-title text-center">Feedstup Enterprise.</h3>
            <!-- <h1 class="page-title text-secondary-d1">
                Invoice
                <small class="page-info">
                    <i class="fa fa-angle-double-right text-80"></i>
                    ID: # {{newSalesFrm.controls.reference.value}}
                </small>
            </h1> -->
        </div>

        <div class="px-0 mt-0">
            <div class="row mt-0 mb-4">
                <div class="col-12 col-lg-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center" style="display: flex;justify-content:center;color: #000;">
                                <!-- <i class="fa fa-book fa-2x text-success-m2 mr-1"></i> -->
                                <span class="text-default-d3 text-center">0502893903/</span>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->

                    <hr class="row brc-default-l1 mx-n1 mb-4" />

                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div>
                                <span class="text-sm text-grey-m2 align-middle">Attendant: </span>
                                <span class="text-600 text-110 text-black align-middle">{{username}}</span>
                            </div>
                        
                            <div *ngIf="newSalesFrm.controls.customer_name.value">
                                <span class="text-sm text-black align-middle">Customer: </span>
                                <span class="text-600 text-110 text-black align-middle">{{newSalesFrm.controls.customer_name.value}}</span>
                            </div>
                            <br/>
                            <div *ngIf="newSalesFrm.controls.payment_status.value =='Unpaid'" class="my-2">
                                <span class="text-90">Status:</span> 
                                <span class="text-600 text-110 text-black align-middle">{{newSalesFrm.controls.payment_status.value}}</span>
                            </div>
                        </div>

                        <div class="text-95 align-self-start d-sm-flex justify-content-end">
                            <hr class="d-sm-none" />
                            <div class="text-grey-m2">
                                <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                    Invoice
                                </div>

                                <div class="my-2">
                                    <!-- <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i>  -->
                                    <span class="text-600 text-90">ID:</span> # {{newSalesFrm.controls.reference.value}}
                                </div>

                                <div class="my-2">
                                    <!-- <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i>  -->
                                    <span class="text-600 text-90">Issue Date:</span> {{ currentDate | date: 'shortDate' }}
                                </div>

                                <!-- <div class="my-2">
                                    <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> 
                                    <span class="text-600 text-90">Status:</span> 
                                    <span class="badge badge-warning badge-pill px-25">Unpaid</span>
                                </div> -->
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <hr/>
                    <div class="mt-4">
                        <div class="row table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-black">
                                        <th>#</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-black" style="color: #000;" *ngFor="let item of items.controls; let i=index" >
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.value.product }}</td>
                                        <td>{{ item.value.quantity }}</td>
                                        <td>{{ item.value.unit_cost | currency: 'Ghc'}}</td>
                                        <td>{{ item.value.purchase_price | currency: 'Ghc' }}</td>
                                      </tr>
                                      
                                      <tr class="border-0 text-black" style="color: #000;" *ngFor="let service of extra_services.controls; let i=index">
                                        <td>..</td>
                                        <td  >{{service.value.name}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{service.value.cost}}</td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>

                        <br>
                        <br>

                        <div class="row mt-3" style="display: flex;justify-content:space-between;">
                            <div class="" style="width:100%;padding:8px;display:flex;flex-direction:column;">
                                <div style="display: grid;grid-template-columns:5fr 5fr">
                                    <span>Discount</span>
                                    <span style="text-align: right;">{{newSalesFrm.controls.discount.value | currency: 'Ghc'}}</span>
                                </div>
                                <div style="display: grid;grid-template-columns:5fr 5fr">
                                    <span>SubTotal</span>
                                    <span style="text-align: right;">{{ newSalesFrm.controls.grand_total.value | currency: 'Ghc' }}</span>
                                </div>
                                <div style="display: grid;grid-template-columns:5fr 5fr">
                                    <span>Total</span> 
                                    <span style="text-align: right;">{{ newSalesFrm.controls.grand_total.value | currency: 'Ghc' }}</span>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div>
                            <span class="text-secondary-d1 text-105 text-center">Thank you</span>
                        
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <hr/>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div *ngIf="loadingService.loading$ | async" class="loading-overlay">
    <div class="spinner">Loading product items, please wait...</div>
</div>

<div *ngIf="errorLoading" class="loadingError">
    <div>Loading failed. <button (click)="refresh()">Click to retry</button></div>
</div>