<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Update Password</h4>
            <!-- <h6>User Profile</h6> -->
        </div>
    </div>

    <div class="card">
        <form (submit)="submitForm($event)" [formGroup]="updatePasswordFrm" class="card-body">
            <div class="profile-set">
                
                <div class="profile-top">
                    <div class="profile-content">
                        <div class="profile-contentname">
                            <!-- <h2>{{currentUser.name}}</h2> -->
                            <h4>Update Your Password.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label class="form-label">Old Password</label>
                        <input type="password" formControlName="old_password" class="form-control" >
                    </div>
                    <div *ngIf="(updatePasswordFrm.get('old_password')?.invalid && updatePasswordFrm.get('old_password')?.touched)">
                        <div *ngIf="updatePasswordFrm.controls['old_password'] && updatePasswordFrm.controls['old_password'].errors"
                            class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;"> Password mismatch
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label>New Password</label>
                        <input type="password" formControlName="new_password" class="form-control">
                    </div>
                    <div *ngIf="(updatePasswordFrm.get('new_password')?.invalid && updatePasswordFrm.get('new_password')?.touched)">
                        <div *ngIf="updatePasswordFrm.controls['new_password'] && updatePasswordFrm.controls['new_password'].errors"
                            class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;"> 8 min characters 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="input-blocks">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" formControlName="c_password">
                    </div>
                    <div *ngIf="(updatePasswordFrm.get('c_password')?.invalid && updatePasswordFrm.get('c_password')?.touched)">
                        <div *ngIf="updatePasswordFrm.controls['c_password'] && updatePasswordFrm.controls['c_password'].errors"
                            class="forgot-link text-danger" style="font-size: 12px;font-weight: 500;"> 8 min characters
                        </div>
                    </div>
                </div>
                <div style="display: flex;justify-content:center;">
                    <app-errormodal></app-errormodal>
                </div>
                <div class="col-12">
                    <button [disabled]="sharedservice.responses.disabled" type="submit" class="btn btn-submit me-2">Submit</button>
                    <button [disabled]="sharedservice.responses.disabled" type="button" class="btn btn-cancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>